html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  background-color: #012;
  color: #eef;
}

.fullscreen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.typewriter {
  height: 6rem;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-gap-2 {
  flex-direction: column;
  gap: 2rem;
}

.text-center {
  text-align: center;
}

.font-lg {
  font-size: 2rem;
}

.px-2 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.linkedIn {
  padding: 0;
  margin: 0;
  border: none;
  transform: scale(2);
  background: none;
  border: none;
  color: #eef;
}

.linkedIn:hover {
  color: #0072b1;
  cursor: pointer;
}

.linkedIn:focus,
.linkedIn:active {
  color: #0080b1;
}
